argon2-cffi==19.2.0
asgiref==3.2.5
cffi==1.14.0
dj-database-url==0.5.0
Django==3.0.4
django-widget-tweaks==1.4.8
Markdown==3.2.1
pycparser==2.20
python-decouple==3.3
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
